html,body, .container, #map{
  height:100%;
  width: 100%;
}

.option-box{
  width: 300px;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(-300px,0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.option-box.open{
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}